body {
    background: #2c2c2c;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    display: inline-block;
    vertical-align: top;
}

aside h3 {
    margin-top: 20px;
    font-size: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    color: #fff;
    margin-top: 20px;
    transition: all 0.6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main {
    float: left;
    width: 75%;
    padding: 20px;
}

main .features {
    margin-top: 100px;
    text-align: center;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

button:focus, 
button:active {
    outline: none;
    box-shadow: none;
}

.alert-warning {
    width: 400px;
    margin: 20px auto;
    text-align: left;
    clear: both;
}
